.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: orange;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__logo {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__nav {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__nav .header__nav-btn {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 17px;
  font-weight: bold;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.header .header__nav .header__nav-btn:hover {
  color: white;
}

.header .header__nav .header__nav-btn:active {
  font-size: 15px;
}

.header.nontransparent {
  background-color: red;
}

.home {
  width: 100%;
  height: 100vh;
  background-color: lightcoral;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 150px 1fr 0.5fr 1.5fr 1fr 1.5fr;
      grid-template-rows: 150px 1fr 0.5fr 1.5fr 1fr 1.5fr;
      grid-template-areas: "empty" "title" "subtitle" "description" "social" "empty2";
}

.home .home__title {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: title;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 110px;
}

.home .home__subtitle {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: subtitle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 44px;
  font-weight: normal;
}

.home .home__description {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: description;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 18px;
  margin: 0 15%;
}

.home .home__social {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: social;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .home__social .home__facebook,
.home .home__social .home__instagram {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
  cursor: pointer;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.home .home__social .home__facebook:hover,
.home .home__social .home__instagram:hover {
  background-color: black;
  color: white;
}

.home .home__social .home__facebook:active,
.home .home__social .home__instagram:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.home .home__social .home__facebook {
  margin-right: 10px;
}

.home .home__social .home__instagram {
  margin-left: 10px;
}

.about {
  width: 100%;
  height: 100vh;
  background-color: lightgreen;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .about__card {
  margin-top: 60px;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  height: 60%;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about .about__card .about__picture {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  background-color: blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .about__card .about__text {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  background-color: darkviolet;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 15px;
  text-align: center;
  font-size: 16px;
}

.inset {
  width: 100%;
  height: 100vh;
  background-color: lightseagreen;
}

.gallery {
  width: 100%;
  height: 100vh;
  background-color: lightblue;
}

.contact {
  width: 100%;
  height: 100vh;
  background-color: lightpink;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .contact__personal {
  margin-top: 60px;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  background-color: yellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .contact__personal .contact__picture-wrapper {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  background-color: orange;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .contact__personal .contact__picture-wrapper .contact__img {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  background-color: blue;
}

.contact .contact__personal .contact__picture-wrapper .contact__img-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  margin-left: 10px;
}

.contact .contact__personal .contact__data-wrapper {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 0 20%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 50px 50px 50px 50px 1fr;
      grid-template-rows: 1fr 50px 50px 50px 50px 1fr;
      grid-template-areas: "." "mail" "phone" "facebook" "instagram" ".";
}

.contact .contact__personal .contact__data-wrapper .contact__element-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .contact__personal .contact__data-wrapper .contact__element-container .contact__element-icon {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact__personal .contact__data-wrapper .contact__element-container .contact__element-text {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact__personal .contact__data-wrapper .contact__element-container .contact__element-text a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 18px;
}

.contact .contact__personal .contact__data-wrapper .contact__element-container.mail {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: mail;
}

.contact .contact__personal .contact__data-wrapper .contact__element-container.phone {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: phone;
}

.contact .contact__personal .contact__data-wrapper .contact__element-container.facebook {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: facebook;
}

.contact .contact__personal .contact__data-wrapper .contact__element-container.instagram {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: instagram;
}

.contact .contact__form-container {
  margin-top: 60px;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  background-color: yellowgreen;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact__form-container .contact__form {
  width: 80%;
  height: 80%;
  padding: 5% 10%;
  background-color: lightgrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .contact__form-container .contact__form .contact__input {
  margin-top: 10px;
  height: 50px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
  padding: 0 10px;
}

.contact .contact__form-container .contact__form .contact__input:hover {
  border-color: darkgoldenrod;
}

.contact .contact__form-container .contact__form .contact__input:focus {
  border-color: darkgoldenrod;
}

.contact .contact__form-container .contact__form .contact__input.textarea {
  height: 150px;
  padding-top: 10px;
}

.contact .contact__form-container .contact__form .contact__form-error {
  width: 100%;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: red;
  margin: 5px 0;
  padding-left: 10px;
}

.contact .contact__form-container .contact__form .contact__form-btn {
  margin-top: 10px;
  height: 50px;
  width: 100px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
  font-size: 18px;
}

.contact .contact__form-container .contact__form .contact__form-btn:hover {
  background-color: black;
  color: white;
  border-color: white;
}

.contact .contact__form-container .contact__form .contact__form-btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.footer {
  width: 100%;
  height: 50px;
  background-color: orange;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  background-color: lightblue;
  width: 100%;
  height: 500vh;
}

button,
input,
textarea {
  outline: none;
}
/*# sourceMappingURL=style.css.map */