.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 50;
}

.header .header__logo {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__nav {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__nav .header__nav-btn {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: none;
  color: white;
  background-color: transparent;
  font-size: 17px;
  font-weight: bold;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.header .header__nav .header__nav-btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  -webkit-transition: 0.15s linear;
  transition: 0.15s linear;
}

.header .header__nav .header__nav-btn:hover::before {
  width: 100%;
}

.header .header__nav .header__nav-btn:active {
  font-size: 15px;
}

.header.nontransparent {
  background-color: red;
}

.home {
  width: 100%;
  height: 100vh;
  background-image: url("../img/Layout/home1.jpg");
  -webkit-animation: homeBackground 30s infinite linear both;
          animation: homeBackground 30s infinite linear both;
  background-position: center;
  background-size: cover;
  border-bottom: 3px solid black;
  color: white;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 150px 1fr 0.5fr 1.5fr 1fr 1.5fr;
      grid-template-rows: 150px 1fr 0.5fr 1.5fr 1fr 1.5fr;
      grid-template-areas: "empty" "title" "subtitle" "description" "social" "empty2";
}

.home .home__title {
  position: relative;
  top: -200px;
  opacity: 0;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: title;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 110px;
  font-weight: bold;
}

.home .home__title.loaded {
  -webkit-transition: 1.5s ease;
  transition: 1.5s ease;
  top: 0;
  opacity: 1;
}

.home .home__subtitle {
  position: relative;
  top: -300px;
  opacity: 0;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: subtitle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 44px;
  font-weight: normal;
}

.home .home__subtitle.loaded {
  -webkit-transition: 1s ease;
  transition: 1s ease;
  top: 0;
  opacity: 1;
}

.home .home__description {
  position: relative;
  top: -400px;
  opacity: 0;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: description;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 18px;
  margin: 0 15%;
}

.home .home__description.loaded {
  -webkit-transition: 1s ease;
  transition: 1s ease;
  top: 0;
  opacity: 1;
}

.home .home__social {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: social;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .home__social .home__facebook,
.home .home__social .home__instagram {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.4);
  color: white;
  border: none;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
  cursor: pointer;
}

.home .home__social .home__facebook:hover,
.home .home__social .home__instagram:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.home .home__social .home__facebook:active,
.home .home__social .home__instagram:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.home .home__social .home__facebook {
  margin-right: 10px;
  position: relative;
  left: -800px;
  opacity: 0;
}

.home .home__social .home__facebook.loaded {
  -webkit-transition: left 1s ease, background-color 0.2s linear, -webkit-transform 0.1s linear;
  transition: left 1s ease, background-color 0.2s linear, -webkit-transform 0.1s linear;
  transition: left 1s ease, background-color 0.2s linear, transform 0.1s linear;
  transition: left 1s ease, background-color 0.2s linear, transform 0.1s linear, -webkit-transform 0.1s linear;
  left: 0;
  opacity: 1;
}

.home .home__social .home__instagram {
  margin-left: 10px;
  position: relative;
  right: -800px;
  opacity: 0;
}

.home .home__social .home__instagram.loaded {
  -webkit-transition: right 1s ease, background-color 0.2s linear, -webkit-transform 0.1s linear;
  transition: right 1s ease, background-color 0.2s linear, -webkit-transform 0.1s linear;
  transition: right 1s ease, background-color 0.2s linear, transform 0.1s linear;
  transition: right 1s ease, background-color 0.2s linear, transform 0.1s linear, -webkit-transform 0.1s linear;
  right: 0;
  opacity: 1;
}

@-webkit-keyframes homeBackground {
  0% {
    background-image: url("../img/Layout/home1.jpg");
  }
  25% {
    background-image: url("../img/Layout/home1.jpg");
  }
  33% {
    background-image: url("../img/Layout/home2.jpg");
  }
  58% {
    background-image: url("../img/Layout/home2.jpg");
  }
  66% {
    background-image: url("../img/Layout/home3.jpg");
  }
  91% {
    background-image: url("../img/Layout/home3.jpg");
  }
}

@keyframes homeBackground {
  0% {
    background-image: url("../img/Layout/home1.jpg");
  }
  25% {
    background-image: url("../img/Layout/home1.jpg");
  }
  33% {
    background-image: url("../img/Layout/home2.jpg");
  }
  58% {
    background-image: url("../img/Layout/home2.jpg");
  }
  66% {
    background-image: url("../img/Layout/home3.jpg");
  }
  91% {
    background-image: url("../img/Layout/home3.jpg");
  }
}

.about {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../img/Layout/aboutBG.jpg");
  background-position: center;
  background-size: 100%;
  border-bottom: 3px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: backgroundSize 15s infinite linear;
          animation: backgroundSize 15s infinite linear;
}

.about .about__background {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 100%;
  width: 100%;
  z-index: -1;
}

.about .about__card {
  opacity: 0;
  margin-top: 60px;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 3s ease;
  transition: 3s ease;
}

.about .about__card .about__picture {
  position: relative;
  -ms-flex-preferred-size: 85%;
      flex-basis: 85%;
  padding: 0 auto;
}

.about .about__card .about__picture .about__img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100%;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.75);
}

.about .about__card .about__text {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  color: white;
}

.about .about__card.loaded {
  -webkit-transition: 1.5s ease;
  transition: 1.5s ease;
  opacity: 1;
}

@-webkit-keyframes backgroundSize {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 120%;
  }
}

@keyframes backgroundSize {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 120%;
  }
}

.inset {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 3px solid black;
}

.inset .inset__text {
  color: white;
  text-align: center;
  font-size: 32px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.gallery {
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-color: lightsalmon;
  padding: 70px 10px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 3px solid black;
}

.gallery .gallery__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  height: calc(95vh - 70px);
  background-color: gold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid white;
  margin-bottom: 10px;
}

.gallery .gallery__item .gallery__item-img {
  position: relative;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.gallery .gallery__item .gallery__item-img .gallery__item-img-container {
  position: relative;
  width: auto;
  height: auto;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.gallery .gallery__item .gallery__item-img .gallery__item-img-container a {
  display: block;
  width: auto;
  height: auto;
}

.gallery .gallery__item .gallery__item-img .gallery__item-img-container .gallery__img {
  max-height: 500px;
  max-width: 100%;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.75);
}

.gallery .gallery__item .gallery__item-img .gallery__item-img-container::after {
  font-family: "Font Awesome 5 Free";
  content: "\f302";
  font-weight: 900;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  font-weight: bold;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.gallery .gallery__item .gallery__item-img .gallery__item-img-container:hover img {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.gallery .gallery__item .gallery__item-img .gallery__item-img-container:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.gallery .gallery__item .gallery__item-title {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery .gallery__item .gallery__item-description {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 18px;
}

.contact {
  width: 100%;
  height: 100vh;
  background-color: lightpink;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 3px solid black;
}

.contact .contact__personal {
  margin-top: 60px;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  background-color: yellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .contact__personal .contact__picture-wrapper {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  background-color: orange;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .contact__personal .contact__picture-wrapper .contact__img {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  background-color: blue;
}

.contact .contact__personal .contact__picture-wrapper .contact__img-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  margin-left: 10px;
}

.contact .contact__personal .contact__data-wrapper {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 0 20%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 50px 50px 50px 50px 1fr;
      grid-template-rows: 1fr 50px 50px 50px 50px 1fr;
      grid-template-areas: "." "mail" "phone" "facebook" "instagram" ".";
}

.contact .contact__personal .contact__data-wrapper .contact__element-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .contact__personal .contact__data-wrapper .contact__element-container .contact__element-icon {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact__personal .contact__data-wrapper .contact__element-container .contact__element-text {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact__personal .contact__data-wrapper .contact__element-container .contact__element-text a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 18px;
}

.contact .contact__personal .contact__data-wrapper .contact__element-container.mail {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: mail;
}

.contact .contact__personal .contact__data-wrapper .contact__element-container.phone {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: phone;
}

.contact .contact__personal .contact__data-wrapper .contact__element-container.facebook {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: facebook;
}

.contact .contact__personal .contact__data-wrapper .contact__element-container.instagram {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: instagram;
}

.contact .contact__form-container {
  margin-top: 60px;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  background-color: yellowgreen;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact__form-container .contact__form {
  width: 80%;
  height: 80%;
  padding: 5% 10%;
  background-color: lightgrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .contact__form-container .contact__form .contact__input {
  margin-top: 10px;
  height: 50px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
  padding: 0 10px;
}

.contact .contact__form-container .contact__form .contact__input:hover {
  border-color: darkgoldenrod;
}

.contact .contact__form-container .contact__form .contact__input:focus {
  border-color: darkgoldenrod;
}

.contact .contact__form-container .contact__form .contact__input.textarea {
  height: 150px;
  padding-top: 10px;
}

.contact .contact__form-container .contact__form .contact__form-error {
  width: 100%;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: red;
  margin: 5px 0;
  padding-left: 10px;
  font-size: 18px;
}

.contact .contact__form-container .contact__form .contact__form-btn {
  margin-top: 10px;
  height: 50px;
  width: 100px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
  font-size: 18px;
}

.contact .contact__form-container .contact__form .contact__form-btn:hover {
  background-color: black;
  color: white;
  border-color: white;
}

.contact .contact__form-container .contact__form .contact__form-btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.footer {
  width: 100%;
  height: 50px;
  background-color: orange;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__dot {
  font-size: 50px;
}

.footer .footer__text {
  font-size: 16px;
}

.footer .footer__text a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.underneath {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background: url("/FRONTEND/img/Layout/inset.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  background-color: lightblue;
  width: 100%;
  height: auto;
}

button,
input,
textarea {
  outline: none;
}
/*# sourceMappingURL=style.css.map */