.home {
  width: 100%;
  height: 100vh;
  background-image: url("../img/Layout/home1.jpg");
  animation: homeBackground 30s infinite linear both;
  background-position: center;
  background-size: cover;
  border-bottom: 3px solid black;
  color: white;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 150px 1fr 0.5fr 1.5fr 1fr 1.5fr;
  grid-template-areas:
    "empty"
    "title"
    "subtitle"
    "description"
    "social"
    "empty2";

  .home__title {
    position: relative;
    top: -200px;
    opacity: 0;
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 110px;
    font-weight: bold;
  }

  .home__title.loaded {
    transition: 1.5s ease;
    top: 0;
    opacity: 1;
  }

  .home__subtitle {
    position: relative;
    top: -300px;
    opacity: 0;
    grid-area: subtitle;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 44px;
    font-weight: normal;
  }

  .home__subtitle.loaded {
    transition: 1s ease;
    top: 0;
    opacity: 1;
  }

  .home__description {
    position: relative;
    top: -400px;
    opacity: 0;
    grid-area: description;
    @include div-center;
    text-align: center;
    font-size: 18px;
    margin: 0 15%;
  }

  .home__description.loaded {
    transition: 1s ease;
    top: 0;
    opacity: 1;
  }

  .home__social {
    grid-area: social;
    @include div-center;

    .home__facebook,
    .home__instagram {
      width: 100px;
      height: 100px;
      background-color: rgba(255, 255, 255, 0.4);
      color: white;
      border: none;
      border-radius: 50%;
      @include div-center;
      font-size: 40px;
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 0, 0.7);
      }

      &:active {
        transform: scale(0.9);
      }
    }

    .home__facebook {
      margin-right: 10px;
      position: relative;
      left: -800px;
      opacity: 0;
    }

    .home__facebook.loaded {
      transition: left 1s ease, background-color 0.2s linear, transform 0.1s linear;
      left: 0;
      opacity: 1;
    }

    .home__instagram {
      margin-left: 10px;
      position: relative;
      right: -800px;
      opacity: 0;
    }

    .home__instagram.loaded {
      transition: right 1s ease, background-color 0.2s linear, transform 0.1s linear;
      right: 0;
      opacity: 1;
    }
  }
}

@keyframes homeBackground {
  0% {
    background-image: url("../img/Layout/home1.jpg");
  }

  25% {
    background-image: url("../img/Layout/home1.jpg");
  }

  33% {
    background-image: url("../img/Layout/home2.jpg");
  }

  58% {
    background-image: url("../img/Layout/home2.jpg");
  }

  66% {
    background-image: url("../img/Layout/home3.jpg");
  }

  91% {
    background-image: url("../img/Layout/home3.jpg");
  }
}
