@import "header";
@import "home";
@import "about";
@import "inset";
@import "gallery";
@import "contact";
@import "footer";
@import "MIXINS";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  background-color: lightblue;
  width: 100%;
  height: 500vh;
}

button {
  outline: none;
}
