@import "header";
@import "home";
@import "about";
@import "inset";
@import "gallery";
@import "contact";
@import "footer";
@import "underneath";
@import "MIXINS";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  height: auto;
}

button,
input,
textarea {
  outline: none;
}
